<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
  </head>
  <body class="container">
    <header><%- include('./layout/header'); %></header>

    <main>
      <a class="nav-link" href="/"
        ><button class="btn btn-secondary">< Back</button></a
      >
      <h2><%= message.text %></h2>
      <p>Name: <%= message.user %></p>
      <p>Added: <%= message.added %></p>
    </main>

    <footer><%- include('./layout/footer'); %></footer>
  </body>
</html>
